/* Your Website Styles */
body {
	background: url("../img/bg.png");
	background-size: cover;
	background-repeat: none;
	background-color: #268388;
}

h1 {
	font-size: 22px;
	color: #E8504D;
}

h3 {
	text-align: center;
	color: #553631;
	font-size: 20px;
}

p{
	line-height: 36px;
	font-family: 'Enriqueta', serif;
	font-size: 12px;
	text-align: right;
}

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 200px;
	text-align: center;
}

ul {
	font-family: 'Enriqueta', serif;
	font-size: 12px;
	line-height: 13px;
	list-style: none;
}

a {
	text-decoration: none;
	padding: 20px 60px 20px 20px;
}

li.a {

}

/* Show Grid */
.showgrid {
	background: url("../img/grid-bg.png") repeat-y;
}

.container {
	background-color: rgba(255, 255, 255, 0.7);
	border-radius: 10%;
	margin-top: 20px;
	padding: 0 15px;
}

#name {
	color: #FFFFFF;
}

.subhead {
	font-style: italic;
	font-size: 18px;
	color: #553631;
}

/* IDs */
#title {
	text-align: center;
	width: 98%;
	opacity: 0.8;
}

#bodylink {
	padding: 0;
}

/* Color Scheme
#553631
#268388
#E8504D
#ECEEB6
#FFA152
*/