/* Your Website Styles */
body {
	background: url("../img/bg.png");
	color: #FFFFFF
}

h1 {
	font-family: 'Open Sans Condensed', sans-serif;
	background: #000000;
	border: 10px solid #FFFFFF;
	text-align: center;
}

h3 {
	color: red;
}

p{
	line-height: 36px
}

/* Show Grid */
.showgrid {
	background: url("../img/grid-bg.png") repeat-y;
}

#name {
	color: #FFFFFF;
}

.subhead {
	font-style: italic;
	margin-left: 30px;
}

/*Color Scheme

#A8FEFF
#FFE0E4
#FFAFA
#FEEBCD
#B4FDB9

*/